<html>
<head>  
<style>

.container{
margin-left:300px;
margin-top:100px;
margin-button:500px;


}
.am{

margin-left:700px;
margin-top:50px;
font-color:RED;
}
.am2{

margin-left:300px
margin-right:200px
margin-top:50px
margin-bottom:50px

}
.amit{


margin-left:100px
margin-right:200px
margin-top:1000px
}
</style>


<title> COVID-19</title>

 </head>

<body  bgcolor="#E6E6FA">

<h2 class="am"><font color="red"> COVID-19</font></h2>

 <form action="action_page.php">
  <div class="container">
    
    
    <label for="email"><b>Enter the location as you want</b></label>
    <input type="text" class="am1" placeholder="Enter the location and desired survices" img src="download(1)" alt="location" align="right" name="location" required location>
</form>
<h3 class="am1">Ours Facilyties</h3>
 <input type="checkbox" class="am2" name="covid" value="fill"> Hotels<br>
 <input type="checkbox" class="am2" name="covid" value="fill"> Restaurants<br>
 <input type="checkbox" class="am2" name="covid" value="fill"> Hospitals<br>
 <input type="checkbox" class="am2" name="covid" value="fill"> Groucery<br>
 <input type="checkbox" class="am2" name="covid" value="fill"> Medical store<br>
 <input type="checkbox" class="am2" name="covid" value="fill"> Bank<br>
 <input type="checkbox" class="am2" name="covid" value="fill"> ATM<br>
 
 <button type="button" class="amit">Submit</button>
</body>


</html>